#bonjour{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }

body{
background-color: teal;
}

.questionnaire{
    background-color: white;
    margin: 20px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

#fond{
    width: 50%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 25px;
    flex-direction: column;
  }

a{
    text-decoration:none;
    text-align: center;
}

#button {
  background-color: #4CAF50; /* couleur de fond */
  border: none; /* pas de bordure */
  color: white; /* couleur du texte */
  padding: 15px 32px; /* espace autour du texte */
  text-align: center; /* centrer le texte */
  text-decoration: none; /* pas de soulignement */
  display: inline-block; /* afficher comme un bloc */
  font-size: 16px; /* taille de police */
  margin: 10px 0; /* marge autour du bouton */
  cursor: pointer; /* curseur de souris en forme de main */
  border-radius: 5px; /* coins arrondis */
}